---
import List from "../components/List";
import BellSongBtn from "../components/BellSong";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adviency ðŸ¤ Astro">
  <main class="bg-white flex flex-col w-max p-4 gap-4 rounded-md">
    <span class="flex flex-row justify-between">
      <h1 class="text-4xl">Regalos:</h1>
      <BellSongBtn client:load />
    </span>
    <List client:load />
  </main>
</Layout>
